@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Sora:wght@100..800&display=swap');


.app-header {
  padding: 10px 10px 0;
  text-align: center;
  font-family: 'Kaushan Script', sans-serif;
  /* Apply the font here */

}

.app-header h1 {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}

.logo-container img {
  height: 70px;
}

.logo-container {
  display: flex;
}

.logo-text {
  display: flex;
  align-items: center;
  text-align: right;
  margin-left: 5px;
  color: #195191;
}

.meter-account-info p {
  font-size: 12px;
  font-family: 'sora', sans-serif;
  font-weight: 500;
  color: #195191;
}

.meter-account-info {
  text-align: center;
  width: 190px;
}

.meter-account-info * {
  pointer-events: none;
}



@media only screen and (max-width: 497px) {
  .meter-account-info {
    text-align: right;
  }
}